---

# v 1.0.4
# Authored by Christian McKee - cmckee786@github.com
# Implements podman pihole container with a rootless service account

- name: Setup system user, dependencies for rootless pihole, and deploy
  hosts: rpi
  gather_facts: false
  become: true
  vars:
    pihole_user: piholeserviceacc

  tasks:
    - name: Install dependencies and create system user
      ansible.builtin.package:
        name:
          - podman
        state: present

    - name: Create system user for podman
      ansible.builtin.user:
        name: "{{ pihole_user }}"
        password: change-me! # Ansible passes this as a hash value not cleartext in Linux
        state: present
        system: true

    - name: Linger pihole service account
      ansible.builtin.command: loginctl enable-linger piholeserviceacc
      changed_when: false

    - name: Ensure /etc/subuid and /etc/subgid files exist
      ansible.builtin.file:
        path: "/etc/{{ item }}"
        state: touch
        mode: '0644'
      loop:
        - subuid
        - subgid

    - name: Add subuid entry for the user
      ansible.builtin.lineinfile:
        path: /etc/subuid
        regexp: "^{{ pihole_user }}:"
        line: "{{ pihole_user }}:100000:65536"
        state: present
        create: true
        owner: root
        group: root
        mode: '0644'

    - name: Add subgid entry for the user
      ansible.builtin.lineinfile:
        path: /etc/subgid
        regexp: "^{{ pihole_user }}:"
        line: "{{ pihole_user }}:100000:65536"
        state: present
        create: true
        owner: root
        group: root
        mode: '0644'


    - name: Create necessary rootless directories
      ansible.builtin.file:
        path: /home/piholeserviceacc/.config/containers/systemd/
        state: directory
        owner: "{{ pihole_user }}"
        group: "{{ pihole_user }}"
        mode: '0755'

    - name: Drop in quadlets
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /home/piholeserviceacc/.config/containers/systemd/
        owner: "{{ pihole_user }}"
        group: "{{ pihole_user }}"
        mode: '0755'
      with_fileglob:
        - ./quadlets/*

    - name: Create necessary rootless directories
      ansible.builtin.command: podman system migrate
      become_user: "{{ pihole_user }}"

    # Example redirect task
    #
    # - name: Redirect port 443 to 8443 with Rich Rule
    #   ansible.posix.firewalld:
    #     rich_rule: rule family=ipv4 forward-port port=443 protocol=tcp to-port=8443
    #     zone: public
    #     permanent: true
    #     immediate: true
    #     state: enabled

    # Quadlet [Install] section should persist these service units
    - name: Start podman via service units
      ansible.builtin.systemd:
        name: pihole_rootless-pod
        state: started
        daemon_reload: true
        scope: user
      become_user: "{{ pihole_user }}"
